@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.display-flex {
  display: flex;
}
/* dark - 02  */
.text-gray {
  color: #424242;
  font-size: 18px;
}

.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: rgb(255, 144, 14);
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

main > section {
  margin-top: 120px;
}
/* header style  */

/* navbar related style  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-item {
  list-style: none;
  margin-right: 35px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}

/* banner related styles  */

.banner-content {
  width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-img {
  width: 100%;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(19, 19, 19);
}

/* teams features related style is here  */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  width: 537px;
  margin-left: 80px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list {
  font-weight: 500;
}
.text-primary {
  color: #ff900e;
}
/* fact card related style  */
.fact-title-bottom {
  margin-bottom: 15px;
}
.fact-description {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 500px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  width: 240px;
  height: 240px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 5px;
  margin-bottom: 8px;
}
.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
  margin-bottom: 8px;
}

/* sponsor related style  */
.sponsor-info {
  width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-company img {
  filter: grayscale(100%);
}
/* responsive layout related media query is here  */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsor-company {
    grid-template-columns: 1fr;
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }
  .our-features {
    margin-left: 30px auto;
  }
  .sponsor-company {
    justify-items: center;
    gap: 40px;
  }
}

/* medium size device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 40px auto;
  }
  .facts-container,
  .sponsor-company {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .fact-response {
    justify-items: center;
  }
}
